# Исследование надёжности заёмщиков

<h1>Содержание<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Объявленные-функции" data-toc-modified-id="Объявленные-функции-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Объявленные функции</a></span></li><li><span><a href="#Обзор-данных" data-toc-modified-id="Обзор-данных-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Обзор данных</a></span><ul class="toc-item"><li><span><a href="#Обзор-столбцов" data-toc-modified-id="Обзор-столбцов-2.1"><span class="toc-item-num">2.1&nbsp;&nbsp;</span>Обзор столбцов</a></span></li><li><span><a href="#Пропущенные-значения" data-toc-modified-id="Пропущенные-значения-2.2"><span class="toc-item-num">2.2&nbsp;&nbsp;</span>Пропущенные значения</a></span></li><li><span><a href="#Уникальные-значения-в-столбцах" data-toc-modified-id="Уникальные-значения-в-столбцах-2.3"><span class="toc-item-num">2.3&nbsp;&nbsp;</span>Уникальные значения в столбцах</a></span></li><li><span><a href="#Дубликаты" data-toc-modified-id="Дубликаты-2.4"><span class="toc-item-num">2.4&nbsp;&nbsp;</span>Дубликаты</a></span></li><li><span><a href="#Заключение" data-toc-modified-id="Заключение-2.5"><span class="toc-item-num">2.5&nbsp;&nbsp;</span>Заключение</a></span></li></ul></li><li><span><a href="#Предобработка-данных" data-toc-modified-id="Предобработка-данных-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Предобработка данных</a></span><ul class="toc-item"><li><span><a href="#Отрицательные-значения" data-toc-modified-id="Отрицательные-значения-3.1"><span class="toc-item-num">3.1&nbsp;&nbsp;</span>Отрицательные значения</a></span></li><li><span><a href="#Пропуски-значений" data-toc-modified-id="Пропуски-значений-3.2"><span class="toc-item-num">3.2&nbsp;&nbsp;</span>Пропуски значений</a></span></li><li><span><a href="#Аномально-большие-значения" data-toc-modified-id="Аномально-большие-значения-3.3"><span class="toc-item-num">3.3&nbsp;&nbsp;</span>Аномально большие значения</a></span></li><li><span><a href="#Дубликаты" data-toc-modified-id="Дубликаты-3.4"><span class="toc-item-num">3.4&nbsp;&nbsp;</span>Дубликаты</a></span><ul class="toc-item"><li><span><a href="#явные-дубликаты" data-toc-modified-id="явные-дубликаты-3.4.1"><span class="toc-item-num">3.4.1&nbsp;&nbsp;</span>явные дубликаты</a></span></li><li><span><a href="#неявные-дубликаты" data-toc-modified-id="неявные-дубликаты-3.4.2"><span class="toc-item-num">3.4.2&nbsp;&nbsp;</span>неявные дубликаты</a></span><ul class="toc-item"><li><span><a href="#верхние-и-нижние-регистры" data-toc-modified-id="верхние-и-нижние-регистры-3.4.2.1"><span class="toc-item-num">3.4.2.1&nbsp;&nbsp;</span>верхние и нижние регистры</a></span></li><li><span><a href="#некорректные-данные-в-столбце-gender" data-toc-modified-id="некорректные-данные-в-столбце-gender-3.4.2.2"><span class="toc-item-num">3.4.2.2&nbsp;&nbsp;</span>некорректные данные в столбце gender</a></span></li><li><span><a href="#цели-получения-кредита" data-toc-modified-id="цели-получения-кредита-3.4.2.3"><span class="toc-item-num">3.4.2.3&nbsp;&nbsp;</span>цели получения кредита</a></span></li><li><span><a href="#удаление-неявных-дубликатов" data-toc-modified-id="удаление-неявных-дубликатов-3.4.2.4"><span class="toc-item-num">3.4.2.4&nbsp;&nbsp;</span>удаление неявных дубликатов</a></span></li></ul></li></ul></li><li><span><a href="#Дробные-значения-целочисленных-переменных" data-toc-modified-id="Дробные-значения-целочисленных-переменных-3.5"><span class="toc-item-num">3.5&nbsp;&nbsp;</span>Дробные значения целочисленных переменных</a></span></li><li><span><a href="#Категорирование-заемщиков" data-toc-modified-id="Категорирование-заемщиков-3.6"><span class="toc-item-num">3.6&nbsp;&nbsp;</span>Категорирование заемщиков</a></span><ul class="toc-item"><li><span><a href="#категорирование-по-цели-получения-кредита" data-toc-modified-id="категорирование-по-цели-получения-кредита-3.6.1"><span class="toc-item-num">3.6.1&nbsp;&nbsp;</span>категорирование по цели получения кредита</a></span></li><li><span><a href="#создание-словарей" data-toc-modified-id="создание-словарей-3.6.2"><span class="toc-item-num">3.6.2&nbsp;&nbsp;</span>создание словарей</a></span></li><li><span><a href="#категорирование-по-ежемесячному-доходу" data-toc-modified-id="категорирование-по-ежемесячному-доходу-3.6.3"><span class="toc-item-num">3.6.3&nbsp;&nbsp;</span>категорирование по ежемесячному доходу</a></span></li><li><span><a href="#категорирование-по-возрасту" data-toc-modified-id="категорирование-по-возрасту-3.6.4"><span class="toc-item-num">3.6.4&nbsp;&nbsp;</span>категорирование по возрасту</a></span></li></ul></li><li><span><a href="#Результаты-предобработки-данных" data-toc-modified-id="Результаты-предобработки-данных-3.7"><span class="toc-item-num">3.7&nbsp;&nbsp;</span>Результаты предобработки данных</a></span></li></ul></li><li><span><a href="#Проверка-гипотез" data-toc-modified-id="Проверка-гипотез-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>Проверка гипотез</a></span><ul class="toc-item"><li><span><a href="#Зависимость-между-количеством-детей-и-возвратом-кредита-в-срок" data-toc-modified-id="Зависимость-между-количеством-детей-и-возвратом-кредита-в-срок-4.1"><span class="toc-item-num">4.1&nbsp;&nbsp;</span>Зависимость между количеством детей и возвратом кредита в срок</a></span></li><li><span><a href="#Зависимость-между-семейным-положением-и-возвратом-кредита-в-срок" data-toc-modified-id="Зависимость-между-семейным-положением-и-возвратом-кредита-в-срок-4.2"><span class="toc-item-num">4.2&nbsp;&nbsp;</span>Зависимость между семейным положением и возвратом кредита в срок</a></span></li><li><span><a href="#Зависимость-между-уровнем-дохода-и-возвратом-кредита-в-срок" data-toc-modified-id="Зависимость-между-уровнем-дохода-и-возвратом-кредита-в-срок-4.3"><span class="toc-item-num">4.3&nbsp;&nbsp;</span>Зависимость между уровнем дохода и возвратом кредита в срок</a></span></li><li><span><a href="#Влияние-цели-кредита-на-его-возврат-в-срок" data-toc-modified-id="Влияние-цели-кредита-на-его-возврат-в-срок-4.4"><span class="toc-item-num">4.4&nbsp;&nbsp;</span>Влияние цели кредита на его возврат в срок</a></span></li></ul></li></ul></div>

**Заказчик** — кредитный отдел банка. 

**Исполнитель** — Бондарцов Валерий Валентинович

**Входные данные** — статистика о платёжеспособности клиентов.

**Дальнейшее использование результатов исследования** — результаты исследования будут учтены при построении модели кредитного скоринга.

**Цель исследования** — проверка следующих гипотез:
1. Есть ли зависимость между количеством детей и возвратом кредита в срок?
2. Есть ли зависимость между семейным положением и возвратом кредита в срок?
3. Есть ли зависимость между уровнем дохода и возвратом кредита в срок?
4. Как разные цели кредита влияют на его возврат в срок?

**Требования к представлению результатов исследования** - не установлено, по умолчанию ______.

## Объявленные функции

In [1]:
# функция search_similar_words
#назначение - поиск в одном списке элементов из другого списка
#принимаемые данные:
# - список в котором будет производиться поиск (list_for_check), тип данных - list
# - список элементов или строка, поиск которых осуществляет функция (searched_elements), тип данных - list или str
#возвращаемые данные:
# - список в котором каждому элементу списка соответствует вложенный список, содержащий все элементы из (list_for_check) в 
# которых содержится соответствующий элемент списка (searched_elements), тип данных - list

def search_similar_words (list_for_check, searched_elements):
    if (type(list_for_check) == list) and ( #проверка передаваемого списка list_for_check на соответствие типа данных (list)
        (type(searched_elements) == list) #проверка передаваемого списка searched_elements на соответствие типа данных (list)
        or                                #или
        (type(searched_elements) == str) #проверка передаваемого списка searched_elements на соответствие типа данных (str)
    ):
        
        list_result = [] #объявление пустого списка для агрегации и вываода результата работы функции
        
        for i in searched_elements: #цикл, проходящий все значения поиск которых осуществляется в списке list_for_check
            list_word = [] #объявление пустого списка для наполнения списка list_result
            
            for _ in range(len(list_for_check)): #цикл, проходящий все значения от 0 до длинны списка в котором осуществляется поиск
                
                if i in list_for_check[_]: #условие выполняющееся если искомый элемент из списка searched_elements есть в элементе списка list_for_check
                    list_word.append(list_for_check[_]) #добавление элемента, для которого выполняется условие, в промежуточный список
                                        
            list_result.append (list_word) #добавление промежуточного списка, соответствующего всем элементам (для которых выполняется условие), к списку выводящему результат работы функции
            
        return list_result #вывод результата работы функции
    
    else:
        print ('ошибка в типах передаваемых функции данных:',
               '\n', 
               'типы данных list_for_check -', type(list_for_check), 'вместо list',
               '\n',
              'типы данных searched_elements -', type(searched_elements),'вместо list или str') #сообщение о неверных передаваемых функции типах данных

In [2]:
# функция replace_values
#назначение - замена в заданном столбце датафрейма df одних значений на другие 
#принимаемые данные:
# - название столбца датафрейма в котором будет производиться замена значений (column)
# - элемент/список элементов которые необходимо заменить (wrong_values)
# - элемент на который необходимо произвести замену (correct_values)

def replace_values (column, wrong_values, correct_values): 
    for _ in wrong_values: #цикл проходит все значения которые необходимо заменить
        df[column] = df[column].replace(_, correct_values) #замена значения из числа wrong_values на correct_values

In [3]:
#функция income_category
#назначение - возвращение рейтинга на основании ежемесячного дохода 
#принимаемые данные:
# - доход (income), тип данных - int, float
#возвращаемые данные:
# - категория (E,D,C,B,A),зависящая от дохода клиента, где:
#0 – 30 000 — 'E';
#30 001 – 50 000 — 'D';
#50 001 – 200 000 — 'C';
#200 001 – 1 000 000 — 'B';
#1 000 001 и выше — 'A'.

def income_category (income):
    try: #конструкция позволяющая избежать ошибок (например с типами данных или с отрицательными значениями) 
        if 0 < income <= 30000: #диапазон соответствующий категории 'E'
            return 'E'
        elif 30000 < income <= 50000: #диапазон соответствующий категории 'D'
            return 'D'
        elif 50000 < income <= 200000: #диапазон соответствующий категории 'C'
            return 'C'
        elif 200000 < income <= 1000000: #диапазон соответствующий категории 'B'
            return 'B'
        elif income >1000000: #диапазон соответствующий категории 'A'
            return 'A'
    except:
        return f'Ошибка входных данных, тип данных {type(income)} вместо int, float' #сообщение о неверных передаваемых функции типах данных

In [4]:
#функция age_category
#назначение - возвращение классификации на основании возраста 
#принимаемые данные:
# - возраст (age), тип данных - int, float
#возвращаемые данные:
# - категория,зависящая от возраста клиента, где:
#18 - 44 — 'молодой возраст';
#45 - 59 — 'средний возраст';
#60 - 74 — 'пожилой возраст';
#75 - 90 — 'старческий возраст';
#90 и выше — 'долгожители'.

def age_category (age):
    try: #конструкция позволяющая избежать ошибок (например с типами данных) 
        if 18 <= age <= 44: #диапазон соответствующий категории 'молодой возраст'
            return 'молодой возраст'
        elif 45 <= age <= 59: #диапазон соответствующий категории 'средний возраст'
            return 'средний возраст'
        elif 60 <= age <= 74: #диапазон соответствующий категории 'пожилой возраст'
            return 'пожилой возраст'
        elif 75 <= age <= 90: #диапазон соответствующий категории 'старческий возраст'
            return 'старческий возраст'
        elif age > 90: #диапазон соответствующий категории 'долгожители'
            return 'долгожители'
        else:
            return 'Возраст не соответствует классификации ВОЗ'
    except:
        return f'Ошибка входных данных, тип данных {type(age)} вместо int, float' #сообщение о неверных передаваемых функции типах данных

In [5]:
# функция engine_of_progress
#назначение - автоматизация построение сводных таблиц при исследовании гипотез в кейсе с учетом минимально необходимого количества результатов для проведения исследования
#принимаемые данные:
# - название столбца датафрейма для которого исследуется зависимость от столбца debt (column_dep)
# - критерий для определения стобцов в которых недостаточно данных для исследования, тип данных - int, float
#возвращаемые данные:
# - сводная таблица отражающая динамику показателей в передаваемом столбце с количеством должников по кредитам
# - сводная таблица отражающая динамику показателей в передаваемом столбце с количеством должников по кредитам, сгруппированая 
#по типам занятости
# - сводная таблица отражающая динамику показателей в передаваемом столбце с количеством должников по кредитам, сгруппированая 
#по типам занятости, выраженная в процентных значениях
#
#ограничения:
#- не стоит передавать столбец purpose


def engine_of_progress (column_dep, statistic_criterion=1000):
    try:
        pivot = df.pivot_table(index=[column_dep], columns='debt', values='purpose', aggfunc='count')
        pivot ['total_customer'] = pivot [0] + pivot [1] #введем колонку с общим числом клиентов в данной группе
        pivot ['proportion'] = round(pivot[0]/pivot[1]) #отношение числа не имевших задолженность к числу имевших
        pivot ['percent_overdue_loan'] = round(pivot[1]*100/(pivot['total_customer'])) #процент имевших задолженность клиентов от общего числа заемщиков имеющих столько же детей
        pivot = pivot.drop(columns = [0], axis = 1) #нас интересуют должники, удалим лишний стобец
        pivot = pivot.rename(columns={
            1 :'number_debetors'} #переименуем столбец для большей наглядности
                                            ).fillna(0) #заполняем пропуски
        total_cust = pivot ['total_customer'] #сохраним столбец total_customer
        display (pivot)  #
        print (f'сводная таблица отражающая связь показателей в столбце {column_dep} с количеством должников по кредитам')
          
      
        pivot_by_income_type = df.pivot_table(index=[column_dep], columns= 'income_type', values='debt', aggfunc='sum') #пересоздадим сводную таблицу
        pivot_by_income_type ['total_customer'] = total_cust #заполняем стобец ранее рассчитаными значениями
        
        list_not_enough_data = [] #создаем промежуточный список для определения стобцов в которых недостаточно данных для исследования
        for _ in pivot_by_income_type.columns[pivot_by_income_type.columns != 'total_customer']: #цикл проходящий по всем названиям столбцов в pivot_by_income_type
            if pivot_by_income_type[_].sum() <= statistic_criterion: #проверка условия недостаточности данных
                list_not_enough_data.append(_) #наполнение списка
        
        pivot_by_income_type = pivot_by_income_type.drop(columns = list_not_enough_data, axis = 1).fillna(0)
        # для иследования данных групп заемщиков недостаточно данных
        display (pivot_by_income_type)
        print (f'сводная таблица отражающая связь показателей в столбце {column_dep} с количеством должников по кредитам, сгруппированая по типам занятости')
    
    
        for _ in pivot_by_income_type.columns[pivot_by_income_type.columns != 'total_customer']: #цикл проходит по всем названиям столбцов кроме total_customer 
            pivot_by_income_type[_] = round(pivot_by_income_type[_]*100/pivot_by_income_type['total_customer'],4) #замещение значений в столбце процентами данного значения от значения в столбце 'total_customer'
        
        pivot_by_income_type = pivot_by_income_type.fillna(0) #заполняем пропуски
        display (pivot_by_income_type) #из предыдущей таблицы видно что данных не достаточно для анализа заемщиков с 3 и более детьми
        
        print (f'сводная таблица отражающая связь показателей в столбце {column_dep} с количеством должников по кредитам, сгруппированая по типам занятости, выраженная в процентных значениях')
        
    except: 
        return 'Ошибка'

## Обзор данных

В качестве начальных данных получена статистика о платёжеспособности клиентов (файл **data.csv**), а так же описание содержащихся в нем данных: 

- children — количество детей в семье
- days_employed — общий трудовой стаж в днях
- dob_years — возраст клиента в годах
- education — уровень образования клиента
- education_id — идентификатор уровня образования
- family_status — семейное положение
- family_status_id — идентификатор семейного положения
- gender — пол клиента
- income_type — тип занятости
- debt — имел ли задолженность по возврату кредитов
- total_income — ежемесячный доход
- purpose — цель получения кредита

In [6]:
import pandas as pd

df = pd.read_csv ('D:\Data for projects\data.csv')

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21525 entries, 0 to 21524
Data columns (total 12 columns):
children            21525 non-null int64
days_employed       19351 non-null float64
dob_years           21525 non-null int64
education           21525 non-null object
education_id        21525 non-null int64
family_status       21525 non-null object
family_status_id    21525 non-null int64
gender              21525 non-null object
income_type         21525 non-null object
debt                21525 non-null int64
total_income        19351 non-null float64
purpose             21525 non-null object
dtypes: float64(2), int64(5), object(5)
memory usage: 2.0+ MB

### Обзор столбцов

In [8]:
print (df.columns)

Index(['children', 'days_employed', 'dob_years', 'education', 'education_id',
       'family_status', 'family_status_id', 'gender', 'income_type', 'debt',
       'total_income', 'purpose'],
      dtype='object')

<div style="border:solid blue 2px; padding: 20px">
    
**Обзор наименований столбцов** показал корректность их наименования, так в названиях:
- используется английский язык
- используется змеиный стиль
- отсутствуют пробелы

In [9]:
display (df.head(10))

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose
0,1,-8437.673028,42,высшее,0,женат / замужем,0,F,сотрудник,0,253875.639453,покупка жилья
1,1,-4024.803754,36,среднее,1,женат / замужем,0,F,сотрудник,0,112080.014102,приобретение автомобиля
2,0,-5623.422610,33,Среднее,1,женат / замужем,0,M,сотрудник,0,145885.952297,покупка жилья
3,3,-4124.747207,32,среднее,1,женат / замужем,0,M,сотрудник,0,267628.550329,дополнительное образование
4,0,340266.072047,53,среднее,1,гражданский брак,1,F,пенсионер,0,158616.077870,сыграть свадьбу
5,0,-926.185831,27,высшее,0,гражданский брак,1,M,компаньон,0,255763.565419,покупка жилья
6,0,-2879.202052,43,высшее,0,женат / замужем,0,F,компаньон,0,240525.971920,операции с жильем
7,0,-152.779569,50,СРЕДНЕЕ,1,женат / замужем,0,M,сотрудник,0,135823.934197,образование
8,2,-6929.865299,35,ВЫСШЕЕ,0,гражданский брак,1,F,сотрудник,0,95856.832424,на проведение свадьбы
9,0,-2188.756445,41,среднее,1,женат / замужем,0,M,сотрудник,0,144425.938277,покупка жилья для семьи

<div style="border:solid blue 2px; padding: 20px">
    
**Обзор первых 10 строк** показал:
- наличие отрицательных значений в столбце days_employed
- данные об общем трудовом стаже и ежемесячном доходе представлены в виде дробных значений (float)
- наличие букв верхнего и нижнего регистра в ячейках (среднее - СРЕДНЕЕ)

### Пропущенные значения

In [10]:
df.isna().sum()

children               0
days_employed       2174
dob_years              0
education              0
education_id           0
family_status          0
family_status_id       0
gender                 0
income_type            0
debt                   0
total_income        2174
purpose                0
dtype: int64

<div style="border:solid blue 2px; padding: 20px">
    
**Поиск пропущенных значений** показал:
- наличие пропущенных значений в столбце days_employed
- наличие пропущенных значений в столбце total_income

In [11]:
df[df['days_employed'].isna() != True]['total_income'].isna().sum()

0

<div style="border:solid blue 2px; padding: 20px">
    
    Пропущенные значения в столце days_employed соответствуют пропущенным значениям в столбце total_income, что соотносится с действительностью, так как при отсутствии трудового стажа (отсутствие данных в days_employed) так же отсутствует ежемесячный доход (отсутствие данных в total_income)
    
    При этом возможно в исходном файле отсутствуют данные по социальным выплатам или иным доходам, не связанным с трудовой деятельностью, например:
    - доход от использования принадлежащего владельцу имущества (например арендные платежи)
    - дивиденды
    - иное

### Уникальные значения в столбцах

In [12]:
df.nunique()

children                8
days_employed       19351
dob_years              58
education              15
education_id            5
family_status           5
family_status_id        5
gender                  3
income_type             8
debt                    2
total_income        19351
purpose                38
dtype: int64

проведем предварительный осмотр некоторых категориальных переменных (значение в столбце debt нас пока не интересует ввиду того что оно принимает всего два значения, как и значения в столбце family_status_id, поскольку количество уникальных значений в нем соответсвует количеству уникальных значений в столбце family_status)

In [13]:
for _ in df.columns[df.dtypes == object]: #цикл проходит по всем столбцам с типом object
    print (df[_].value_counts(), '\n')
print (df['education_id'].value_counts(), '\n') #выводим на экран интересующий нас столбец, не вошедший в цикл из-за другого типа данных

среднее                13750
высшее                  4718
СРЕДНЕЕ                  772
Среднее                  711
неоконченное высшее      668
ВЫСШЕЕ                   274
Высшее                   268
начальное                250
Неоконченное высшее       47
НЕОКОНЧЕННОЕ ВЫСШЕЕ       29
НАЧАЛЬНОЕ                 17
Начальное                 15
ученая степень             4
Ученая степень             1
УЧЕНАЯ СТЕПЕНЬ             1
Name: education, dtype: int64

женат / замужем          12380
гражданский брак          4177
Не женат / не замужем     2813
в разводе                 1195
вдовец / вдова             960
Name: family_status, dtype: int64

F      14236
M       7288
XNA        1
Name: gender, dtype: int64

сотрудник          11119
компаньон           5085
пенсионер           3856
госслужащий         1459
предприниматель        2
безработный            2
в декрете              1
студент                1
Name: income_type, dtype: int64

свадьба                                   797
на проведение свадьбы                     777
сыграть свадьбу                           774
операции с недвижимостью                  676
покупка коммерческой недвижимости         664
операции с жильем                         653
покупка жилья для сдачи                   653
операции с коммерческой недвижимостью     651
покупка жилья                             647
жилье                                     647
покупка жилья для семьи                   641
строительство собственной недвижимости    635
недвижимость                              634
операции со своей недвижимостью           630
строительство жилой недвижимости          626
покупка недвижимости                      624
покупка своего жилья                      620
строительство недвижимости                620
ремонт жилью                              612
покупка жилой недвижимости                607
на покупку своего автомобиля              505
заняться высшим образованием              496
автомобиль                                495
сделка с подержанным автомобилем          489
свой автомобиль                           480
на покупку подержанного автомобиля        479
автомобили                                478
на покупку автомобиля                     472
дополнительное образование                462
приобретение автомобиля                   462
сделка с автомобилем                      455
высшее образование                        453
получение дополнительного образования     447
образование                               447
получение образования                     443
профильное образование                    436
получение высшего образования             426
заняться образованием                     412
Name: purpose, dtype: int64

1    15233
0     5260
2      744
3      282
4        6
Name: education_id, dtype: int64

In [14]:
df['children'].value_counts()

 0     14149
 1      4818
 2      2055
 3       330
 20       76
-1        47
 4        41
 5         9
Name: children, dtype: int64

In [15]:
print (df['dob_years'].min())
print (df['dob_years'].max())

0
75

<div style="border:solid blue 2px; padding: 20px">
    
**Обзор уникальных значений** в столбцах показал необходимость их обработки, так:
- в столбце education имеются одни и те же наименования с буквами в различных регистрах
- в столбце family_status имеются не единообразные значения (из-за букв верхнего и нижнего регистров)
- в столбце gender имеется пропуск данных
- в столбце purpose имеются различные наименования одних и тех же операций (целей кредитования)
- количество уникальных значений в столбце education_id не соотносится с количеством уникальных значений в столбце education
- имеются отрицательные значения в столбце children
- в столбце children имеются подозрительно высокие значения (20) 
- в столбце dob_years имеются нулевые значения

### Дубликаты

In [16]:
df.duplicated().sum()

54

<div style="border:solid blue 2px; padding: 20px">
    
Обзор покзал наличие дубликатов 

В полученных данных отсутствует переменная однозначно идентифицирующая заемщика, что на первый взгляд не позволяет считать данные строки дубликатами.
    
**Однако особенность заполнения столбцов days_employed и total_income, заключающаяся в том что в них данные переданы с точностью до 6 знака после запятой позволяет сделать обоснованное предположение, о том что речь идет об одних и тех же заемщиках и как следствие о том что данные строки являются дубликатами.**

### Заключение

Обзор данных показал их предварительную пригодность для проведения исследования.

Вместе с тем, для проведения исследования требуется предобработка содержащихся в файле данных в том числе:
- устранение отрицательных значений
- устранение пропусков в данных
- устранение дубликатов
- приведение дробных значений к целым

## Предобработка данных

### Отрицательные значения

В рамках обзора данных обнаружены отрицательные значения в столбце days_employed, по скольку трудовой стаж не может быть отрицательным, устраним их до заполнения пропущенных значений

(поскольку они могут повлиять на корректность расчетов при заполнении пропусков, как при вычислении средних значений, так и при вычислении медианных (особенно при наличии как положительных так и отрицательных значений в рамках одной группы))

количество отрицательных значений в days_employed (с группировкой по типу занятости):

In [17]:
df[df['days_employed'] < 0].groupby('income_type')['income_type'].count()

income_type
в декрете              1
госслужащий         1312
компаньон           4577
предприниматель        1
сотрудник          10014
студент                1
Name: income_type, dtype: int64

количество положительных значений в days_employed (с группировкой по типу занятости):

In [18]:
df[df['days_employed'] > 0].groupby('income_type')['income_type'].count()

income_type
безработный       2
пенсионер      3443
Name: income_type, dtype: int64

<div style="border:solid blue 2px; padding: 20px">
    
в группах в которых присутствуют отрицательные значения в столбце days_employed отсутствуют положительные значения в данном столбце, что позволяет предположить что данные корректны, но взяты с обратным знаком

Рассчитаем медианные значения для отрицательных значений в рамках групп:

In [19]:
for _ in df[df['days_employed'] < 0]['income_type'].unique(): #переменная _ проходит по наименованиям групп, где есть отрицательные значения в столбце days_employed
    print (f'медианное значение для группы {_} - ', 
           df.loc[(df['income_type'] == _)]['days_employed']
           .median())
    # при расчете не учитывали строки с отсутствующими значениями, так как имеются признаки того что отсутствия значений вызвано потерей данных (этот вопрос рассмотрен ниже)

медианное значение для группы сотрудник -  -1574.2028211070851
медианное значение для группы компаньон -  -1547.3822226779334
медианное значение для группы госслужащий -  -2689.3683533043886
медианное значение для группы студент -  -578.7515535382181
медианное значение для группы предприниматель -  -520.8480834953765
медианное значение для группы в декрете -  -3296.7599620220594

  
для дальнейшей работы с данными примем все значения в столбце days_employed как положительные

In [20]:
df['days_employed'] = df['days_employed'].apply(abs) #заменяем все значения в столбце days_employed на их модули

df[df['days_employed'] < 0].count() #проверка замены отрицательных значений положительными

children            0
days_employed       0
dob_years           0
education           0
education_id        0
family_status       0
family_status_id    0
gender              0
income_type         0
debt                0
total_income        0
purpose             0
dtype: int64

убедимся в том что медианные значения изменились только в части знака

In [21]:
for _ in df['income_type'].unique(): #переменная _ проходит по наименованиям групп
    print (f'медианное значение для группы заемщиков  {_} - ', 
           df.loc[(df['income_type'] == _) & (df['days_employed'] > 0)]['days_employed']
           .median())

медианное значение для группы заемщиков  сотрудник -  1574.2028211070851
медианное значение для группы заемщиков  пенсионер -  365213.30626573117
медианное значение для группы заемщиков  компаньон -  1547.3822226779334
медианное значение для группы заемщиков  госслужащий -  2689.3683533043886
медианное значение для группы заемщиков  безработный -  366413.65274420456
медианное значение для группы заемщиков  предприниматель -  520.8480834953765
медианное значение для группы заемщиков  студент -  578.7515535382181
медианное значение для группы заемщиков  в декрете -  3296.7599620220594

аналогичным образом устраняем отрицательные значения в столбце children на основании предположени о том что данные корректны, но взяты с обратным знаком

In [22]:
df['children'] = df['children'].apply(abs) #заменяем все значения в столбце days_employed на их модули

df[df['children'] < 0]['children'].count() #проверка замены отрицательных значений положительными

0

<div style="border:solid blue 2px; padding: 20px">
    
проблема отрицательных значений в столбцах days_employed и children устранена

### Пропуски значений

В рамках обзора данных обнаружены пропуски значений в столбцах:
- days_employed
- total_income

Так же выявлено то, что пропуски в данных столбцах взаимосвязаны (пропуск в столбце days_employed соответствует пропуску в столбце total_income)

Оценим потенциальную степень влияния этих данных на результаты исследования

процент пустых значений от обего числа строк

In [23]:
print (round(df['days_employed'].isna().sum()*100/df.shape[0], 1), '%')

10.1 %

<div style="border:solid blue 2px; padding: 20px">
    
не корректный ввод 10% значений способен существенно повлиять на конечные результаты исследования

проверим данные строки

In [24]:
display (df[df['days_employed'].isna() == True].head(10)) #используем метод .head для оптимизации вычислительных ресурсов

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose
12,0,NaN,65,среднее,1,гражданский брак,1,M,пенсионер,0,NaN,сыграть свадьбу
26,0,NaN,41,среднее,1,женат / замужем,0,M,госслужащий,0,NaN,образование
29,0,NaN,63,среднее,1,Не женат / не замужем,4,F,пенсионер,0,NaN,строительство жилой недвижимости
41,0,NaN,50,среднее,1,женат / замужем,0,F,госслужащий,0,NaN,сделка с подержанным автомобилем
55,0,NaN,54,среднее,1,гражданский брак,1,F,пенсионер,1,NaN,сыграть свадьбу
65,0,NaN,21,среднее,1,Не женат / не замужем,4,M,компаньон,0,NaN,операции с коммерческой недвижимостью
67,0,NaN,52,высшее,0,женат / замужем,0,F,пенсионер,0,NaN,покупка жилья для семьи
72,1,NaN,32,высшее,0,женат / замужем,0,M,госслужащий,0,NaN,операции с коммерческой недвижимостью
82,2,NaN,50,высшее,0,женат / замужем,0,F,сотрудник,0,NaN,жилье
83,0,NaN,52,среднее,1,женат / замужем,0,M,сотрудник,0,NaN,жилье

типы занятости в данных строках:

In [25]:
df[df['days_employed'].isna() == True]['income_type'].unique()

array(['пенсионер', 'госслужащий', 'компаньон', 'сотрудник',
       'предприниматель'], dtype=object)

видно что типы занятости не однородны, а учитывая что пропуски в столбцах total_income и days_employed совпадают, можно предположить что речь идет о потери части данных или их не предоставлении (госсужащий или пенсионер не может иметь нулевой доход, так же госслужащий не может не иметь трудовой стаж)

для определния возможности заполнения пропущенных значений медианными значениями посчитаем долю пропущенных значений по категориям

In [26]:
for _ in df[df['days_employed'].isna() == True]['income_type'].unique(): #переменная _ проходит по наименованиям групп, где есть пропуски данных
    i = round(
        df.loc[(df['days_employed'].isna() == True) & (df['income_type'] == _)]['income_type'].count() #количество строк группы с пропущенными значениями 
              *100/
           df[df['income_type'] == _]['income_type'].count(), #общее количество строк данной группы
              1)
    ii = df[df['income_type'] == _]['income_type'].count() #количество представителей группы
    iii = df[(df['income_type'] == _) & (df['days_employed'].isna() == True)]['income_type'].count() #количество пропусков в рамках группы
    print (f'доля имеющих статус "{_}" с пропущенными данными - {i} %, кол-во строк - {ii}, количество пропусков - {iii}')

доля имеющих статус "пенсионер" с пропущенными данными - 10.7 %, кол-во строк - 3856, количество пропусков - 413
доля имеющих статус "госслужащий" с пропущенными данными - 10.1 %, кол-во строк - 1459, количество пропусков - 147
доля имеющих статус "компаньон" с пропущенными данными - 10.0 %, кол-во строк - 5085, количество пропусков - 508
доля имеющих статус "сотрудник" с пропущенными данными - 9.9 %, кол-во строк - 11119, количество пропусков - 1105
доля имеющих статус "предприниматель" с пропущенными данными - 50.0 %, кол-во строк - 2, количество пропусков - 1

In [27]:
print (df[df['days_employed'].isna() == True].groupby('income_type')['income_type'].count()) #альтернативный более компактный подсчет количества пропущеных значений
print (df[df['total_income'].isna() == True].groupby('income_type')['income_type'].count()) #альтернативный более компактный подсчет количества пропущеных значений

income_type
госслужащий         147
компаньон           508
пенсионер           413
предприниматель       1
сотрудник          1105
Name: income_type, dtype: int64
income_type
госслужащий         147
компаньон           508
пенсионер           413
предприниматель       1
сотрудник          1105
Name: income_type, dtype: int64

<div style="border:solid blue 2px; padding: 20px">
    
для всех групп, кроме группы "предприниматель" возможно заполнить значения медианными в рамках группы заемщиков
    
последняя статистически не значима в рамках исследования и может быть исключена, поскольку двух значений недостаточно для проверки гипотез в рамках данной группы заемщиков
    
следует **обратить внимание заказчика, что данное иследование не применимо к данной группе заемщиков (предприниматель)**

Заполним пропущенные значения медианными в рамках группы заемщиков

In [28]:
for _ in df[df['days_employed'].isna() == True]['income_type'].unique(): #переменная _ проходит по наименованиям групп заемщиков, где есть пропуски данных
    i = df.loc[df['income_type'] == _]['days_employed'].median() #расчет медианного значения трудового стажа в рамках группы заемщиков
    ii = df.loc[df['income_type'] == _]['total_income'].median() #расчет медианного значения ежемесячного дохода в рамках группы заемщиков
    
    df.loc[df['income_type'] == _,'days_employed'] = df.loc[df['income_type'] == _]['days_employed'].fillna(i) #заполнение пропусков в столбце days_employed медианными значениями для данной группы заемщиков
    
    df.loc[df['income_type'] == _,'total_income'] = df.loc[df['income_type'] == _]['total_income'].fillna(ii) #заполнение пропусков в столбце total_income медианными значениями для данной группы заемщиков
    
    # расчет медианных значений вне fillna произведен в целях того чтобы сделать конструкцию менее нагруженной,
    #так же я не уверен в механизме работы метода, расчитывается ли медианное значение один раз для группы или расчет идет для каждой ячейки (в этом случае возможно искажение данных)

проверим то что пропуски удалены и медианные значения не изменились (медианные значения в столбце days_employed сравниваются с расчитанными ранее, сравнение для столбца total_income не проводится ввиду однотипности примененных инструментов)

In [29]:
print (df.isna().sum()) #проверяем то что пропуски удалены

for _ in df['income_type'].unique(): #переменная _ проходит по наименованиям групп
    print (f'медианное значение для группы {_} - ', 
           df.loc[(df['income_type'] == _) & (df['days_employed'] > 0)]['days_employed']
           .median())

children            0
days_employed       0
dob_years           0
education           0
education_id        0
family_status       0
family_status_id    0
gender              0
income_type         0
debt                0
total_income        0
purpose             0
dtype: int64
медианное значение для группы сотрудник -  1574.2028211070851
медианное значение для группы пенсионер -  365213.30626573117
медианное значение для группы компаньон -  1547.3822226779334
медианное значение для группы госслужащий -  2689.3683533043886
медианное значение для группы безработный -  366413.65274420456
медианное значение для группы предприниматель -  520.8480834953765
медианное значение для группы студент -  578.7515535382181
медианное значение для группы в декрете -  3296.7599620220594

<div style="border:solid blue 2px; padding: 20px">
    
Пропуски данных в столбцах days_employed и total_income устранены

Так же в ходе обзора данных обнаружены нулевые значения в столбце dob_years (что соответствует нулевому возрасту клиента) 
Сделаем обоснованное предположение о том что нулевые значения в данном столбце являются пропущенными значениями

Заполним пропущенные значения медианными в рамках группы заемщиков

In [30]:
for _ in df[df['dob_years'] == 0]['income_type'].unique(): #переменная _ проходит по наименованиям групп заемщиков, где есть пропуски данных
    i = df.loc[df['income_type'] == _]['dob_years'].median() #расчет медианного возраста в рамках группы заемщиков
    df.loc[(df['income_type'] == _) & (df['dob_years'] == 0),'dob_years'] = i #заполнение пропусков в столбце dob_years медианными значениями для данной группы заемщиков

In [31]:
df['dob_years'].min() #проверка

19.0

<div style="border:solid blue 2px; padding: 20px">
    
Пропуски данных в столбце dob_years устранены

### Аномально большие значения

Обзор данных показал наличие аномально высоких знакчений в столбце children, рассмотрим их

In [32]:
df[df['children'] ==20].groupby('income_type')['children'].count()

income_type
госслужащий     2
компаньон      22
пенсионер       9
сотрудник      43
Name: children, dtype: int64

In [33]:
df[df['children'] ==20].head()

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose
606,20,880.221113,21.0,среднее,1,женат / замужем,0,M,компаньон,0,145334.865002,покупка жилья
720,20,855.595512,44.0,среднее,1,женат / замужем,0,F,компаньон,0,112998.738649,покупка недвижимости
1074,20,3310.411598,56.0,среднее,1,женат / замужем,0,F,сотрудник,1,229518.537004,получение образования
2510,20,2714.161249,59.0,высшее,0,вдовец / вдова,2,F,сотрудник,0,264474.835577,операции с коммерческой недвижимостью
2941,20,2161.591519,39.0,среднее,1,женат / замужем,0,F,сотрудник,0,199739.941398,на покупку автомобиля

Сделаем предположение о том что значение 20 в столбце является аномальным и связано с добавлением 0 к 2

Устраним аномальные значения

In [34]:
df.loc[df['children'] ==20, 'children'] = 2 #замена аномальных значений

df['children'].value_counts() #проверка

0    14149
1     4865
2     2131
3      330
4       41
5        9
Name: children, dtype: int64

### Дубликаты

#### явные дубликаты

Обзор данных показал наличие дубликатов

In [35]:
df = df.drop_duplicates().reset_index(drop=True) #удаляем явные дубликаты

df.duplicated().sum() #проверка удаления явных дубликатов

0

<div style="border:solid blue 2px; padding: 20px">
    
Явные дубликаты устранены

#### неявные дубликаты

##### верхние и нижние регистры

При обзоре данных в столбце education выявлены схожие наименования с буквами разных регистров, устраним данную проблему

In [36]:
df['education'] = df['education'].str.lower() #переводим все значения в столбце education в нижний регистр, 
df['family_status'] = df['family_status'].str.lower()
#метод .str.lower() применяем к одному столбцам education и family_status для оптимизации вычислительных ресурсов, 
#по скольку в других столбцах значений с верхним регистром не обнаружено

print (df['education'].unique()) #проверяем корректность перевода в нижний регистр
print (df['family_status'].unique()) #проверяем корректность перевода в нижний регистр

['высшее' 'среднее' 'неоконченное высшее' 'начальное' 'ученая степень']
['женат / замужем' 'гражданский брак' 'вдовец / вдова' 'в разводе'
 'не женат / не замужем']

<div style="border:solid blue 2px; padding: 20px">
    
Значения в столбцах education и family_status приведены в нижний регистр

Проверим соответствие значений в столбцах education и education_id

In [37]:
df['education'].nunique() == df['education_id'].nunique() #сравним количество уникальных значений в столбцах

True

In [38]:
print (df['education'].unique())
print (df['education_id'].unique())

['высшее' 'среднее' 'неоконченное высшее' 'начальное' 'ученая степень']
[0 1 2 3 4]

Выясним как соотносится уровень образования и идентификатор уровня образования

In [39]:
for _ in df['education'].unique(): #цикл проходит по уникальным значениям столбца education
    print ('уровень образования',
           '\033[1m' + _, '\033[0;0m', #делаем шрифт более читаемым
           'соответствует идентификатору -', 
           df[df['education'] == _]['education_id'] #отбираем идентификаторы уровня образования соответствующие данному уровню образования
           .value_counts(), #считаем количество уникальных значений в столбце и их количество
           '\n')

уровень образования высшее  соответствует идентификатору - 0    5251
Name: education_id, dtype: int64

уровень образования среднее  соответствует идентификатору - 1    15188
Name: education_id, dtype: int64

уровень образования неоконченное высшее  соответствует идентификатору - 2    744
Name: education_id, dtype: int64

уровень образования начальное  соответствует идентификатору - 3    282
Name: education_id, dtype: int64

уровень образования ученая степень  соответствует идентификатору - 4    6
Name: education_id, dtype: int64

Убедились в том что каждому типу образования соответсвует всего один идентификатор

##### некорректные данные в столбце gender

При обзоре данных выявлен "третий" пол "XNA", рассмотрим соответствующие данные

In [40]:
df[df['gender'] == 'XNA']

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose
10690,0,2358.600502,24.0,неоконченное высшее,2,гражданский брак,1,XNA,компаньон,0,203905.157261,покупка недвижимости

количество строк с некачествнными данными в столбце gender статстически не значимо, при этом значение ежемесячного дохода значительно превышает медианные значения 

восстановить корректное значение пола не представляется возможным по этому предлагается исключить данную строку из исследования

In [41]:
df = df[df['gender'] != 'XNA'].reset_index(drop=True) #исключаем строку с некачественными данными из общего массива данных
# восстанавливаем последовательную индексацию
df['gender'].unique() #проверяем корректность удаления

array(['F', 'M'], dtype=object)

<div style="border:solid blue 2px; padding: 20px">
    
Из общего массива данных удалена строка с некоректным значением в столбце gender

Проведем проверку на количество дубликатов в данных

In [42]:
df.duplicated().sum()

17

##### цели получения кредита

При обзоре данных выявлено различное наименование одних и тех же целей получения кредита

In [43]:
df['purpose'].unique()

array(['покупка жилья', 'приобретение автомобиля',
       'дополнительное образование', 'сыграть свадьбу',
       'операции с жильем', 'образование', 'на проведение свадьбы',
       'покупка жилья для семьи', 'покупка недвижимости',
       'покупка коммерческой недвижимости', 'покупка жилой недвижимости',
       'строительство собственной недвижимости', 'недвижимость',
       'строительство недвижимости', 'на покупку подержанного автомобиля',
       'на покупку своего автомобиля',
       'операции с коммерческой недвижимостью',
       'строительство жилой недвижимости', 'жилье',
       'операции со своей недвижимостью', 'автомобили',
       'заняться образованием', 'сделка с подержанным автомобилем',
       'получение образования', 'автомобиль', 'свадьба',
       'получение дополнительного образования', 'покупка своего жилья',
       'операции с недвижимостью', 'получение высшего образования',
       'свой автомобиль', 'сделка с автомобилем',
       'профильное образование', 'высшее образование',
       'покупка жилья для сдачи', 'на покупку автомобиля', 'ремонт жилью',
       'заняться высшим образованием'], dtype=object)

<div style="border:solid blue 2px; padding: 20px">
    
Рассматривются следующие способы предобработки данных в столбце purpose:
- введение дополнительного столбца - purpose_category, формирование списка уникальных целей получения займа и его сопоставление с данными в столбце purpose
- приведение данных в столбце purpose к единым наименованиям (формирование списка уникальных целей получения займа и заполнение столбца purpose значениями из данного списка)

Произведем поиск во всем перечне уникальных значений столбца purpose на соответствие следующим целям кредитования:
- образование
- операции с недвижимостью/жильем
- операции с авто
- свадьба

<div style="border:solid blue 2px; padding: 20px">
    
Ввиду возможных опечаток/различных окончаний слов поиск будем проводить по элементам корней слов

<div style="border:solid blue 2px; padding: 20px">
    
По условиям кейса требуется ввести новый столбец "purpose_category" а не приводить к единым наименованиям значения в столбце purpose, однако мы произведем данную операцию, поскольку это потенциально нам позволит выявить неявные дубликаты, сохраним purpose для его последующей вставки в датафрейм

In [44]:
column_purpose_old = pd.DataFrame() #объявление нового датафрейма не целесообразно, но почему то не удается сохранить значения 
#в отдельном стобце
column_purpose_old ['purpose'] = df['purpose'] #сохраним столбец purpose

In [45]:
column_purpose_old['purpose'].unique

<bound method Series.unique of 0                       покупка жилья
1             приобретение автомобиля
2                       покупка жилья
3          дополнительное образование
4                     сыграть свадьбу
                     ...
21465               операции с жильем
21466            сделка с автомобилем
21467                    недвижимость
21468    на покупку своего автомобиля
21469           на покупку автомобиля
Name: purpose, Length: 21470, dtype: object>

Вызовем объявленную ранее функцию для поиска элементов одного списка в другом (search_similar_words)

In [46]:
list_purpose = list (df['purpose'].unique()) #список всех уникальных значений столбца purpose
list_check = ['образ', 'жил', 'недв', 'авто','свадь'] #список проверяемых целей кредитования

wrong_values = search_similar_words(list_purpose, list_check) #создаем список значенй, которые мы хотим заменить

проведем замену значений в столбце purpose на следующие:
- получение образования
- операции с недвижимостью
- операции с автомобилем
- проведение свадьбы

<div style="border:solid blue 2px; padding: 20px">
    
Стоит обратить внимание на то что в 'операции с недвижимостью' входят как наименования операций с жильем так и с недвижимостью

Вызовем объявленную ранее функцию для замены значений (replace_values)

In [47]:
correct_values = ['получение образования','операции с недвижимостью','операции с недвижимостью','операции с автомобилем','проведение свадьбы'] #создаем список 
# значений на которые мы хотим заменить найденные ранее некорректные значения (wrong_values)
list_correct = [] #создаем список для сборки заменяемых значений и значений на которые мы хотим их заменить

for _ in range(len(correct_values)): #цикл проходит по количеству корректных значений и осуществляет сборку списка list_correct
    list_secondary = [] #создаем вспомогательный список для сборки list_correct
    
    list_secondary.append(wrong_values[_]) #добавляем к вспомагательному списку набор значений которые мы хотим заменить
    list_secondary.append(correct_values[_]) #добавляем к вспомагательному списку значение на которое мы хотим заменить переданный ранее набор значений
    
    list_correct.append(list_secondary) #собираем список list_correct

    
for wrong_val, correct_val in list_correct: #цикл проходит по всем парам "набор заменяемых значений" - "заменяещее значение"
    replace_values ('purpose', wrong_val, correct_val) #функция замены значений в столбце purpose 

df['purpose'].value_counts() #проверка корректности проведенной замены значений в столбце purpose

операции с недвижимостью    10813
операции с автомобилем       4308
получение образования        4014
проведение свадьбы           2335
Name: purpose, dtype: int64

<div style="border:solid blue 2px; padding: 20px">
    
Значения в столбце purpose приведены в соответствие

##### удаление неявных дубликатов

**Текущий раздел предобработки данных допустим только в случае если предположение о том, что точность передаваемых значений в столбцах days_employed и total_income может выступать в роли идентификации заемщика**

В противном случае необходимо исключить операции произведенные в данном разделе

Определим количество дубликатов после проведенных операций с данными

In [48]:
df.duplicated().sum()

353

Количество дубликатов на порядок превышает их количество до приведения в соответствие целей кредитования (351 против 17)

Устраним найденные дубликаты

In [49]:
df = df.drop_duplicates() #удаление дубликатов (без реиндексации для последующего восстановления данных в столбце purpose)

df.duplicated().sum() #проверка удаления дубликатов

0

<div style="border:solid blue 2px; padding: 20px">
    
Данные очищены от неявных дубликатов

### Дробные значения целочисленных переменных

Обзор данных показал наличие дробных значений в столбцах:
- days_employed
- total_income

Принимая во внимание то что сбор данных с такой точностью маловероятен (рассчет трудового стажа с учетом отработанных часов на момент дня сбора информации, так же максимальная точность учета доходов определяется вторым знаком и соответсвует копейкам) предлагается округлить значения в данных столбцах до целочисленных значений

In [50]:
df['days_employed'] = df['days_employed'].apply(round) #округляем все значения в столбце days_employed
df['total_income'] = df['total_income'].apply(round) #округляем все значения в столбце total_income

display (df.head(10)) #проверка округления

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose
0,1,8438,42.0,высшее,0,женат / замужем,0,F,сотрудник,0,253876,операции с недвижимостью
1,1,4025,36.0,среднее,1,женат / замужем,0,F,сотрудник,0,112080,операции с автомобилем
2,0,5623,33.0,среднее,1,женат / замужем,0,M,сотрудник,0,145886,операции с недвижимостью
3,3,4125,32.0,среднее,1,женат / замужем,0,M,сотрудник,0,267629,получение образования
4,0,340266,53.0,среднее,1,гражданский брак,1,F,пенсионер,0,158616,проведение свадьбы
5,0,926,27.0,высшее,0,гражданский брак,1,M,компаньон,0,255764,операции с недвижимостью
6,0,2879,43.0,высшее,0,женат / замужем,0,F,компаньон,0,240526,операции с недвижимостью
7,0,153,50.0,среднее,1,женат / замужем,0,M,сотрудник,0,135824,получение образования
8,2,6930,35.0,высшее,0,гражданский брак,1,F,сотрудник,0,95857,проведение свадьбы
9,0,2189,41.0,среднее,1,женат / замужем,0,M,сотрудник,0,144426,операции с недвижимостью

<div style="border:solid blue 2px; padding: 20px">
    
Значения в столбцах days_employed и total_income приведены к целочисленным

### Категорирование заемщиков

#### категорирование по цели получения кредита

Введем столбец purpose_category и вернем исходные значения в столбец purpose

In [51]:
df['purpose_category'] = df['purpose'] #данные нами приведены к нужным категориям ранее

In [52]:
column_purpose_old['purpose'].unique()

array(['покупка жилья', 'приобретение автомобиля',
       'дополнительное образование', 'сыграть свадьбу',
       'операции с жильем', 'образование', 'на проведение свадьбы',
       'покупка жилья для семьи', 'покупка недвижимости',
       'покупка коммерческой недвижимости', 'покупка жилой недвижимости',
       'строительство собственной недвижимости', 'недвижимость',
       'строительство недвижимости', 'на покупку подержанного автомобиля',
       'на покупку своего автомобиля',
       'операции с коммерческой недвижимостью',
       'строительство жилой недвижимости', 'жилье',
       'операции со своей недвижимостью', 'автомобили',
       'заняться образованием', 'сделка с подержанным автомобилем',
       'получение образования', 'автомобиль', 'свадьба',
       'получение дополнительного образования', 'покупка своего жилья',
       'операции с недвижимостью', 'получение высшего образования',
       'свой автомобиль', 'сделка с автомобилем',
       'профильное образование', 'высшее образование',
       'покупка жилья для сдачи', 'на покупку автомобиля', 'ремонт жилью',
       'заняться высшим образованием'], dtype=object)

In [53]:
for _ in df['purpose'].index: #цикл проходит по индексам датафрейма, при удалении дубликатов реиндексация не проводилась для того
    #чтобы имелась возможность восстановить значения в столбце
    df.loc[_, 'purpose'] = column_purpose_old.loc[_,'purpose'] #возвращение изначальных значений в столбец purpose
# операция требует вычислительных ресурсов и если нет необходимости в востановлении данных в столбце, может быть закомментирована
    
    
df.reset_index(drop=True) #восстановление последовательной индексации

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose,purpose_category
0,1,8438,42.0,высшее,0,женат / замужем,0,F,сотрудник,0,253876,покупка жилья,операции с недвижимостью
1,1,4025,36.0,среднее,1,женат / замужем,0,F,сотрудник,0,112080,приобретение автомобиля,операции с автомобилем
2,0,5623,33.0,среднее,1,женат / замужем,0,M,сотрудник,0,145886,покупка жилья,операции с недвижимостью
3,3,4125,32.0,среднее,1,женат / замужем,0,M,сотрудник,0,267629,дополнительное образование,получение образования
4,0,340266,53.0,среднее,1,гражданский брак,1,F,пенсионер,0,158616,сыграть свадьбу,проведение свадьбы
...,...,...,...,...,...,...,...,...,...,...,...,...,...
21112,1,4529,43.0,среднее,1,гражданский брак,1,F,компаньон,0,224792,операции с жильем,операции с недвижимостью
21113,0,343937,67.0,среднее,1,женат / замужем,0,F,пенсионер,0,156000,сделка с автомобилем,операции с автомобилем
21114,1,2113,38.0,среднее,1,гражданский брак,1,M,сотрудник,1,89673,недвижимость,операции с недвижимостью
21115,3,3112,38.0,среднее,1,женат / замужем,0,M,сотрудник,1,244093,на покупку своего автомобиля,операции с автомобилем
21116,2,1985,40.0,среднее,1,женат / замужем,0,F,сотрудник,0,82047,на покупку автомобиля,операции с автомобилем

In [54]:
df.head() #проверка востановления данных в столбце purpose

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose,purpose_category
0,1,8438,42.0,высшее,0,женат / замужем,0,F,сотрудник,0,253876,покупка жилья,операции с недвижимостью
1,1,4025,36.0,среднее,1,женат / замужем,0,F,сотрудник,0,112080,приобретение автомобиля,операции с автомобилем
2,0,5623,33.0,среднее,1,женат / замужем,0,M,сотрудник,0,145886,покупка жилья,операции с недвижимостью
3,3,4125,32.0,среднее,1,женат / замужем,0,M,сотрудник,0,267629,дополнительное образование,получение образования
4,0,340266,53.0,среднее,1,гражданский брак,1,F,пенсионер,0,158616,сыграть свадьбу,проведение свадьбы

#### создание словарей

Создадим два датафрейма и поместим в них данные о:
- идентификаторе уровня образования (education_id) и уровне образования клиента (education);
- идентификаторе семейного положения (family_status_id) и семейном положении (family_status).

In [55]:
education_dict = df[['education_id','education']] #создаем словарь для уровня образования

education_dict = education_dict.drop_duplicates().reset_index(drop=True) 
education_dict.head() #проверка

   education_id            education
0             0               высшее
1             1              среднее
2             2  неоконченное высшее
3             3            начальное
4             4       ученая степень

In [56]:
family_status_dict = df[['family_status_id','family_status']] #создаем словарь для семейного положения

family_status_dict = family_status_dict.drop_duplicates().reset_index(drop=True)
family_status_dict.head() #проверка

   family_status_id          family_status
0                 0        женат / замужем
1                 1       гражданский брак
2                 2         вдовец / вдова
3                 3              в разводе
4                 4  не женат / не замужем

Удалим из исходного датафрейма столбцы family_status и education

In [57]:
df = df.drop(columns = ['education', 'family_status'], axis = 1) 

df.head()

,children,days_employed,dob_years,education_id,family_status_id,gender,income_type,debt,total_income,purpose,purpose_category
0,1,8438,42.0,0,0,F,сотрудник,0,253876,покупка жилья,операции с недвижимостью
1,1,4025,36.0,1,0,F,сотрудник,0,112080,приобретение автомобиля,операции с автомобилем
2,0,5623,33.0,1,0,M,сотрудник,0,145886,покупка жилья,операции с недвижимостью
3,3,4125,32.0,1,0,M,сотрудник,0,267629,дополнительное образование,получение образования
4,0,340266,53.0,1,1,F,пенсионер,0,158616,сыграть свадьбу,проведение свадьбы

<div style="border:solid blue 2px; padding: 20px">
    
Созданы словари:
- education_dict
- family_status_dict
    
Из исходного датафрейма удалены столбцы education, family_status

#### категорирование по ежемесячному доходу

Проведем следующую категоризацию клиентов по ежемесячному доходу:
- 0 – 30 000 — 'E';
- 30 001 – 50 000 — 'D';
- 50 001 – 200 000 — 'C';
- 200 001 – 1 000 000 — 'B';
- 1 000 001 и выше — 'A'.

Вызовем объявленную ранее функцию income_category:

In [58]:
df['total_income_category'] = df['total_income'].apply(income_category) #добавляем в df столбец total_income_category и заполняем его 
#рейтингами заемщиков

df['total_income_category'].value_counts()  #проверка

C    15679
B     5041
D      350
A       25
E       22
Name: total_income_category, dtype: int64

#### категорирование по возрасту

Проведем следующую категоризацию клиентов по возрасту (классификация по возрастам, установленная ВОЗ*):
- 18 - 44 — 'молодой возраст';
- 45 - 59 — 'средний возраст';
- 60 - 74 — 'пожилой возраст';
- 75 - 90 — 'старческий возраст';
- 90 и выше — 'долгожители'.

Предлагается использовать данную классификацию как имеющую связь с уровнем активности человека в течении жизни
*Всемирная организация здравоохранения

In [59]:
df['total_age_category'] = df['dob_years'].apply(age_category) #добавляем в df столбец total_age_category и заполняем его 
#классификацией по возрасту

df['total_age_category'].value_counts()  #проверка

молодой возраст       11656
средний возраст        7000
пожилой возраст        2460
старческий возраст        1
Name: total_age_category, dtype: int64

### Результаты предобработки данных

Произведена предобработка данных позволяющая использовать их для проверки гипотез.
Цели получения кредита сгрупированы по следующим целям:
- получение образования
- операции с недвижимостью
- операции с автомобилем
- проведение свадьбы
        
Ежемесячный доход клиентов сгруппирован по следующим диапазонам:
- 0 – 30 000 — 'E';
- 30 001 – 50 000 — 'D';
- 50 001 – 200 000 — 'C';
- 200 001 – 1 000 000 — 'B';
- 1 000 001 и выше — 'A'.


Клиенты сгруппированы по следующим возрастным категориям:
- 18 - 44 — 'молодой возраст';
- 45 - 59 — 'средний возраст';
- 60 - 74 — 'пожилой возраст';
- 75 - 90 — 'старческий возраст';
- 90 и выше — 'долгожители'.


        
Вместе с тем необходимо отметить, что:
- в ходе предобаботки данных сделано предположение о том что точность данных, передаваемых в столбцах days_employed и total_income, позволяет идентифицировать замещика для целей исключения дублирования данных

## Проверка гипотез

### Зависимость между количеством детей и возвратом кредита в срок

Создадим сводную таблицу для исследования данной зависимости

In [60]:
df_pivot_children = df.pivot_table(index=['children'], columns='debt', values='total_income_category', aggfunc='count')

In [61]:
df_pivot_children ['total_customer'] = df_pivot_children [0] + df_pivot_children [1] #введем колонку с общим числом клиентов в данной группе

df_pivot_children ['proportion'] = round(df_pivot_children[0]/df_pivot_children[1]) #отношение числа не имевших задолженность к числу имевших

df_pivot_children ['percent_overdue_loan'] = round(df_pivot_children[1]*100/(df_pivot_children['total_customer'])) #процент имевших задолженность клиентов от общего числа заемщиков имеющих столько же детей

df_pivot_children = df_pivot_children.drop(columns = [0], axis = 1) #нас интересуют должники, удалим лишний стобец

df_pivot_children = df_pivot_children.rename(columns={
    1 :'number_debetors'} #переименуем столбец для большей наглядности
                                            ).fillna(0) #заполним пропуски нулями
total_cust = df_pivot_children ['total_customer'] #сохраним столбец total_customer

df_pivot_children

debt      number_debetors  total_customer  proportion  percent_overdue_loan
children
0                  1061.0         13826.0        12.0                   8.0
1                   445.0          4798.0        10.0                   9.0
2                   202.0          2115.0         9.0                  10.0
3                    27.0           329.0        11.0                   8.0
4                     4.0            40.0         9.0                  10.0
5                     0.0             0.0         0.0                   0.0

**Существенного (кратного) влияния не обнаружено**, однако в данном исследовании не учтено влияние остальных параметров (возможно связь между количеством детей и возвратом кредита в срок есть для отдельных групп клиентов)

In [62]:
df_pivot_children = df.pivot_table(index=['children'], columns= 'income_type', values='debt', aggfunc='sum') #пересоздадим сводную таблицу

df_pivot_children ['total_customer'] = total_cust #заполняем стобец ранее рассчитаными значениями

df_pivot_children = df_pivot_children.drop(columns = ['безработный','предприниматель','в декрете', 'студент'], axis = 1).fillna(0)
# для иследования данных групп заемщиков недостаточно данных

df_pivot_children

income_type  госслужащий  компаньон  пенсионер  сотрудник  total_customer
children
0                   59.0      226.0      198.0      578.0         13826.0
1                   19.0      106.0       14.0      305.0          4798.0
2                    6.0       39.0        3.0      153.0          2115.0
3                    2.0        5.0        1.0       19.0           329.0
4                    0.0        0.0        0.0        4.0            40.0
5                    0.0        0.0        0.0        0.0             0.0

Переведем абсоютные значения в стобцах с группами заемщиков в процентные значения от общего числа заемщиков

In [63]:
for _ in df_pivot_children.columns[df_pivot_children.columns != 'total_customer']: #цикл проходит по всем названиям столбцов кроме total_customer 
    df_pivot_children[_] = round(df_pivot_children[_]*100/df_pivot_children['total_customer'],4) #замещение значений в столбце процентами данного значения от общего количества клиентов в данной группе

df_pivot_children = df_pivot_children.fillna(0) #заполняем пропуски
    
df_pivot_children[:3] #из предыдущей таблицы видно что данных не достаточно для анализа заемщиков с 3 и более детьми

income_type  госслужащий  компаньон  пенсионер  сотрудник  total_customer
children
0                 0.4267     1.6346     1.4321     4.1805         13826.0
1                 0.3960     2.2093     0.2918     6.3568          4798.0
2                 0.2837     1.8440     0.1418     7.2340          2115.0

<div style="border:solid blue 2px; padding: 20px">
    
Полученные данные говорят нам о том, что в рамках разных групп заемщиков (по типу занятости) динамика изменения влияния количества детей на возврат займа отличается
    
При том что общая статистика говорит о увеличении риска по мере увеличения данного параметра, для отдельных категорий наблюдается обратная динамика (госслужащий, компаньон)

### Зависимость между семейным положением и возвратом кредита в срок

Исследуем зависимость между семейным положением и возвратом кредита

автоматизируем рутинные операции по формированию сводных таблиц и воспользуемся функцией engine_of_progress

In [64]:
engine_of_progress ('family_status_id', 100)

debt,number_debetors,total_customer,proportion,percent_overdue_loan
family_status_id,,,,
0,929,12075,12.0,8.0
1,388,4123,10.0,9.0
2,63,942,14.0,7.0
3,85,1193,13.0,7.0
4,274,2784,9.0,10.0

сводная таблица отражающая связь показателей в столбце family_status_id с количеством должников по кредитам

income_type       компаньон  пенсионер  сотрудник  total_customer
family_status_id
0                     192.0      114.0      571.0           12075
1                      95.0       36.0      239.0            4123
2                       9.0       37.0       15.0             942
3                       8.0       13.0       60.0            1193
4                      72.0       16.0      174.0            2784

сводная таблица отражающая связь показателей в столбце family_status_id с количеством должников по кредитам, сгруппированая по типам занятости

income_type       компаньон  пенсионер  сотрудник  total_customer
family_status_id
0                    1.5901     0.9441     4.7288           12075
1                    2.3041     0.8732     5.7967            4123
2                    0.9554     3.9278     1.5924             942
3                    0.6706     1.0897     5.0293            1193
4                    2.5862     0.5747     6.2500            2784

сводная таблица отражающая связь показателей в столбце family_status_id с количеством должников по кредитам, сгруппированая по типам занятости, выраженная в процентных значениях

In [65]:
family_status_dict

   family_status_id          family_status
0                 0        женат / замужем
1                 1       гражданский брак
2                 2         вдовец / вдова
3                 3              в разводе
4                 4  не женат / не замужем

<div style="border:solid blue 2px; padding: 20px">
    
Полученные данные говорят нам о том, что в рамках разных групп заемщиков (по типу занятости) динамика изменения влияния семейного положения на возврат займа отличается
    
Общая статистика говорит о том, что большее число должников по кредитам находятся в группах - "не женат / не замужем", "гражданский брак"
При этом для отдельных категорий клиентов (пенсионер) картина обратная

### Зависимость между уровнем дохода и возвратом кредита в срок

Исследуем зависимость между уровнем дохода и возвратом кредита

воспользуемся функцией engine_of_progress

In [66]:
engine_of_progress ('total_income_category', 100)

debt,number_debetors,total_customer,proportion,percent_overdue_loan
total_income_category,,,,
A,2,25,12.0,8.0
B,356,5041,13.0,7.0
C,1358,15679,11.0,9.0
D,21,350,16.0,6.0
E,2,22,10.0,9.0

сводная таблица отражающая связь показателей в столбце total_income_category с количеством должников по кредитам

income_type            компаньон  пенсионер  сотрудник  total_customer
total_income_category
A                            2.0        0.0        0.0              25
B                          110.0       31.0      197.0            5041
C                          263.0      176.0      850.0           15679
D                            1.0        7.0       12.0             350
E                            0.0        2.0        0.0              22

сводная таблица отражающая связь показателей в столбце total_income_category с количеством должников по кредитам, сгруппированая по типам занятости

income_type            компаньон  пенсионер  сотрудник  total_customer
total_income_category
A                         8.0000     0.0000     0.0000              25
B                         2.1821     0.6150     3.9080            5041
C                         1.6774     1.1225     5.4213           15679
D                         0.2857     2.0000     3.4286             350
E                         0.0000     9.0909     0.0000              22

сводная таблица отражающая связь показателей в столбце total_income_category с количеством должников по кредитам, сгруппированая по типам занятости, выраженная в процентных значениях

<div style="border:solid blue 2px; padding: 20px">

Полученные данные говорят нам о том, что в рамках разных групп заемщиков (по типу занятости) динамика изменения влияния уровня дохода на возврат займа отличается
    
Общая статистика говорит о том, что большее число должников по кредитам находятся в группе - С

При этом в отдельных категориях клиентов (компаньон) наблюдается иная динамика - увеличение риска неплатежспособности по мере роста доходов

Наиболее "рискованными" категориями являются: 
- пенсионеры с уровнем дохода - Е
- компаньоны с уровнем дохода - А

### Влияние цели кредита на его возврат в срок

Исследуем зависимость между целью кредита и его возвратом

воспользуемся функцией engine_of_progress

In [67]:
engine_of_progress ('purpose_category', 100)

debt,number_debetors,total_customer,proportion,percent_overdue_loan
purpose_category,,,,
операции с автомобилем,402,4272,10.0,9.0
операции с недвижимостью,781,10575,13.0,7.0
получение образования,370,3964,10.0,9.0
проведение свадьбы,186,2306,11.0,8.0

сводная таблица отражающая связь показателей в столбце purpose_category с количеством должников по кредитам

income_type               компаньон  пенсионер  сотрудник  total_customer
purpose_category
операции с автомобилем         85.0       51.0      243.0            4272
операции с недвижимостью      167.0       92.0      485.0           10575
получение образования          72.0       48.0      229.0            3964
проведение свадьбы             52.0       25.0      102.0            2306

сводная таблица отражающая связь показателей в столбце purpose_category с количеством должников по кредитам, сгруппированая по типам занятости

income_type               компаньон  пенсионер  сотрудник  total_customer
purpose_category
операции с автомобилем       1.9897     1.1938     5.6882            4272
операции с недвижимостью     1.5792     0.8700     4.5863           10575
получение образования        1.8163     1.2109     5.7770            3964
проведение свадьбы           2.2550     1.0841     4.4232            2306

сводная таблица отражающая связь показателей в столбце purpose_category с количеством должников по кредитам, сгруппированая по типам занятости, выраженная в процентных значениях

<div style="border:solid blue 2px; padding: 20px">

Полученные данные говорят нам о том, что в рамках разных групп заемщиков (по типу занятости) динамика изменения влияния цели кредита на возврат займа отличается
    
Общая статистика говорит о том, что большее число должников по кредитам брали кредит на "операции с автомобилем" и "получение образования"

При этом в отдельных категориях клиентов (сотрудник) наблюдается схожая, но существенно менее выраженная динамика